*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.over{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    border-radius: 40%;
}
.img {
    height:40px;
    border-radius: 10px;
    display: flex;
    width: 30px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    

}
img{
    height:200px;
    width:200px;
    border-radius: 50%;

}
/* .img2{
    height:6px;
    width:5px;
    border-radius: 20%;
}
.img3{
    height:6px;
    width:5px;
    border-radius: 20%; */

@media only screen and (min-width:300px) and (max-width:800px) {
    .container{
        flex-direction:column;
    }
    .container{
       
        width: 90%;
    }
}